{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="card auth-card m-4">
            <div class="card-body">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="auth-btn btn-sm btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
