{% extends "base.html" %}

{% load mathfilters %}

{% load static %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col header-container d-flex justify-content-center text-uppercase">
            <h1 class="logo-font m-2">Shopping Cart</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 dark_green">
                                    You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'products' %}" class="btn keep-shopping-btn">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn keep-shopping-btn">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>                            
                            <p class="text-muted mb-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in cart_items %}
                        <div class="row p-2">
                            <div class="col-12 col-sm-6 ">
                                {% if item.product.image1 %}
                                <img src="{{ item.product.image1.url }}" class="img-fluid rounded" alt="{{ item.product.name }}">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.webp" class="img-fluid rounded" alt="{{ item.product.name }}">
                                {% endif %}                            
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <p class="my-0"><strong>{{ item.product.brand }} {{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>                            
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price Each: €{{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>€{{ item.product.price|mul:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <form class="form update-form" action="{% url "adjust_cart" item.item_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="form-group m-1">
                                                <div class="input-group">
                                                    <div class="row">
                                                        <div class="col-6 mt-3 d-inline-flex">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty_{{ product.id }} rounded-start-2 me-1 decrement-qty btn btn-dark" 
                                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                    <span class="d-flex justify-content-center align-items-center">
                                                                        <i class="fas fa-minus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <input class="form-control qty-input qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                            <div class="input-group-append mb-0">
                                                                <button class="increment-qty_{{ product.id }} ms-1 increment-qty btn btn-dark rounded-end-2"
                                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                    <span class="d-flex justify-content-center align-items-center">
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image1 %}
                                    <img src="{{ item.product.image1.url }}" class="img-fluid rounded" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" class="img-fluid rounded" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.brand }} {{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>                               
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" action="{% url "adjust_cart" item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-12 d-flex justify-content-center">
                                                <div class="form-group m-1">
                                                    <div class="input-group">
                                                        <div class="row">
                                                            <div class="col-6 mt-3 d-inline-flex">
                                                                <div class="input-group-prepend">
                                                                    <button class="decrement-qty_{{ product.id }} rounded-start-2 me-1 decrement-qty btn btn-dark" 
                                                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                        <span class="d-flex justify-content-center align-items-center">
                                                                            <i class="fas fa-minus"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <input class="form-control qty-input qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                                <div class="input-group-append mb-0">
                                                                    <button class="increment-qty_{{ product.id }} ms-1 increment-qty btn btn-dark rounded-end-2"
                                                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                        <span class="d-flex justify-content-center align-items-center">
                                                                            <i class="fas fa-plus"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>                                
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€ {{ item.product.price|mul:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 dark-green">
                                        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn keep-shopping-btn">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="" class="btn keep-shopping-btn">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>                            
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
            <div class="row">
                <div class="col-12 d-flex align-items-center flex-column">
                    <span class="mt-3"><i class="fa-solid fa-cart-shopping fa-2xl"></i></span>
                    <p class="lead mt-3">Your cart is empty.</p>
                    <a href="{% url "products" %}" class="btn keep-shopping-btn">
                        <span class="icon">
                            <i class="fa-solid fa-angles-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping!</span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<a role="button" class="btn btt-button d-flex d-none shadow-sm rounded-1">
    <i class="fas fa-arrow-up mx-auto my-auto"></i>
</a>

{% endblock  %}

{% block postloadjs %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
       var form = $(this).prev('.update-form');
       form.submit();
   })

   // Remove item and reload on click
   $('.remove-item').click(function(e) {
       var csrfToken = "{{ csrf_token }}";
       var itemId = $(this).attr('id').split('remove_')[1];
       var url = `/cart/remove/${itemId}/`;
       var data = {'csrfmiddlewaretoken': csrfToken};

       $.post(url, data)
        .done(function() {
            location.reload();
        });
   })
</script>
{% endblock %}
