{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="index_content">
        <div class="row">
            <div class="col-12">
                <h1 class="hero-header text-center mt-5">Welcome to VeloTronix</h1>
                <p class="text-center">Cycling gadgets and accessories delivered to your door!</p>
                <br>
                <div class="d-flex justify-content-center">
                    <a class="btn shop_now_btn btn-lg" href="{% url "productsdfd" %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}
