#id_country {
    width: 100%;
    border: none;
  }

  #id_default_country,
  #id_default_country option {
    color: #264653;
  }

  .profile-form-input {
    color: #264653;
  }

  .green {
    color: #264653;
  }

  #profile-update-form .form-control {
    color: #264653;
  }

  #profile-update-form input::placeholder {
    color: #264653;
  }
