#id_country {
    width: 100%;
    /* color: red; */
    border: none;
  }

  #id_default_country,
  #id_default_country option:not(:first-child) {
    color: #264653;
  }

  #id_country,
  #id_country option:is(:first-child) {
    color: red;
  }

  .profile-form-input {
    color: #264653;
  }

  .green {
    color: #264653;
  }

  #profile-update-form .form-control {
    color: #264653;
  }

  #profile-update-form input::placeholder {
    color: #264653;
  }
