* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace, sans-serif;
}

.logo-text {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    vertical-align: baseline;
}

.navbar-lower {
    background-color: #264653;
    color: #fff;
    margin: 0;
    width: 100vw;
}

.navbar-upper {
    height: 2rem;
    background-color: #fff
}

.spinning-icon {
    position: relative;
    top: 3px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    size: 1.5rem;
    color: #fff;
}
