{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} <div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="card auth-card m-4">
            <div class="card-body">
               
                <div class="row flex-nowrap">
                    <h6>We can't find the page you are looking for.</h6>
                </div>
                <hr>
                <div class="row flex-nowrap">
                    <a type="button" class="auth-btn btn-sm btn btn-success text-uppercase" href="{% url "home" %}"><i class="fa-solid fa-angles-left"></i> Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="container error-container">
    <div class="row d-flex justify-content-center flex-wrap">
        <div class="col-6 card auth-card m-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><i class="fa-solid fa-magnifying-glass"></i> 404</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">We can't find the page you are looking for.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <a type="button" class="mt-2 p-1 auth-btn btn-sm btn btn-success text-uppercase" href="{% url "home" %}"><i class="fa-solid fa-angles-left"></i> Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}