{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="auth-section">
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="card auth-card m-4">
                <div class="card-body">
                    <h1 class="text-center"><i class="fa-solid fa-server"></i> 500</h1>
                    <hr>
                    <div class="row flex-nowrap">
                      <h6>Server has encountered an error!</h6>
                    </div>
                    <hr>
                    <div class="row flex-nowrap">
                        <a type="button" class="auth-btn btn-sm btn btn-success text-uppercase" href="{% url "home" %}"><i class="fa-solid fa-angles-left"></i> Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}