{% if free_delivery_delta > 0 %}
    <div class="row {% if not free_delivery_threshold %}d-none{% endif %} delivery-banner text-center" id="delivery-banner">
        <div class="col">
            <p class="my-1">Free <i class="fa-solid fa-truck-fast"></i> <strong>€{{ free_delivery_threshold }}</strong></p>
        </div>
    </div>
{% else %}
    <div class="row {% if not free_delivery_threshold %}d-none{% endif %} delivery-banner text-center" id="delivery-banner">
        <div class="col">
            <p class="my-1">FREE <i class="fa-solid fa-truck-fast"></i> €<i class="fa-solid fa-0 fa-beat-fade fa-sm"></i></p>
        </div>
    </div>
{% endif %}
