<footer class="footer mt-auto py-3">
    <div class="row">
        <div class="col-12 text-center text-md-start col-md-4">
            <h3 class="fw-bold">Get In Touch</h3>
            <p><i class="fa-solid fa-phone"></i> Phone: 01 234 5678</p>
            <p><i class="fa-regular fa-envelope"></i> Email: <a href="mailto:info.velotronix@gmail.com">info.velotronix@gmail.com</a></p>
            <span class="fb-icon"><i class="fa-brands fa-facebook-f fa-lg"></i></span> <a href="https://www.facebook.com/people/Velotronix/61554100205665/" target="_blank"  rel="noopener noreferrer">Find us on Facebook</a>
        </div>
        <div class="d-block d-md-none">
            <hr>
        </div>
        <div class="col-12 col-md-4 text-center">
            <p><a href="{% url "about" %}">PRIVACY POLICY</a></p>
            <p>© 2023 VeloTronix</p>
            <p><small>for educational purposes only</small></p>
        </div>
        <div class="d-block d-md-none">
            <hr>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end text-center text-md-end pe-3">
            <div id="mc_embed_shell">
                <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <h3 class="fw-bold">Subscribe</h3>
                    <form action="https://gmail.us21.list-manage.com/subscribe/post?u=913d24cf8897a3841716ccba6&amp;id=8bd560b8e9&amp;f_id=007de3e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate m-0" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group" style="width: 250px;"><label class="text-center mt-2 text-md-end" for="mce-EMAIL">Email Address
                                <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email text-center text-md-end pe-2"
                                id="mce-EMAIL" required="" value="" placeholder="yourmail@email.com">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none; color: #E9EDE9; width: 250px"></div>
                                <div class="response" id="mce-success-response" style="display: none; color: #E9EDE9; width: 250px"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_913d24cf8897a3841716ccba6_8bd560b8e9" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent me-0 pe-0">
                                <div class="clear foot me-0 pe-0 d-flex justify-content-center justify-content-md-end">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="mt-1 btn btn-dark fw-bold mailchimp-btn text-light rounded-2 m-0 text-uppercase" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            <script  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
        </div>
    </div>
</footer>