<header class="container-fluid fixed-top">
    <div class="row navbar-upper">
        <div class="col-10">
            <form class="d-none d-lg-flex m-1" role="search" method="GET" action="">
                <input class="search form-control me-2" type="search" placeholder="Search products" name="q" aria-label="Search">
                <a class="search-btn" role="button" type="submit">Search</a>
            </form>
        </div>
        <div class="col-2 mt-1 d-grid justify-content-end">
            <div class="d-inline-block text-end text-nowrap">
                {% if request.user.is_authenticated %}
                <span class="d-none d-sm-inline">Logged in as:</span><a href="#" class="login-link"> <span class="text-decoration-underline">{{ request.user.username}}</span></a> | <a href="{% url 'account_logout' %}?next={{ request.path }}" class="login-link">Logout</a>
                {% else %}
                    <a class="login-link" href="{% url "account_login" %}?next={{ request.path }}">Login</a> | <a class="login-link" href="{% url "account_signup" %}?next={{ request.path }}">Signup</a>
                {% endif %}
                <a class="cart" href="#"><i class="fa-solid fa-cart-plus dark-green"></i> <i class="fa-solid fa-euro-sign fa-xs"></i> 
                    {% if grand_total %} 
                        €{{ grand_total|floatformat:2 }}
                    {% else %}
                        €0.00
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary m-0 p-0">
            <div class="container-fluid navbar-lower pe-2">
                <div class="col-4">
                    <a class="navbar-brand text-light logo-text ms-2 fs-1" href="{% url "home" %}">Vel<i class="spinning-icon fa-solid fa-circle-xmark fa-spin fa-2xs"></i>Tr<i class="spinning-icon fa-solid fa-circle-xmark fa-spin fa-2xs"></i>nix</a>
                </div>
                <button class="navbar-toggler border-light text-light me-1 mt-3 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="burger-btn"><i class="fa-solid fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse ps-2" id="navbarSupportedContent">
                    <ul class="navbar-nav gap-1 me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ps-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url "products" %}?sort=price&direction=asc">By Price</a></li>
                            <li><a class="dropdown-item" href="{% url "products" %}?sort=Brand&direction=asc">By Brand</a></li>
                            <li><a class="dropdown-item" href="#">By Category</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url "products" %}">All products</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ps-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Electronics
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=bike_computers">Bike Computers</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=power_meters">Power Meters</a></li>
                            <li><a class="dropdown-item" href="{% url 'products' %}?category=bike_lights">Bike Lights</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ps-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                        </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sensors</a></li>
                            <li><a class="dropdown-item" href="#">Heart Rate Monitors</a></li>
                        </ul>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link ps-1" href="#">About Us</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link ps-1" href="#">Profile</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <form class="d-lg-none d-md-flex justify-content-center m-1" role="search">
                                <input class="search-burger form-control me-2" type="search" placeholder="Search products" aria-label="Search">
                                <a class="search-btn-burger mt-2" role="button" type="submit">Search</a>
                            </form>
                        </li>                    
                    </ul>
                </div>
            </div>
          </nav>
    </div>
</header>