{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container dark-green">
    <div class="row ">
        <div class="col-12">
            <div class="row">
                <div class="col-12 header-container d-flex justify-content-center text-uppercase">
                    <h2 class="{% if messages %}mt-5 {% endif %}mt-3 m-2">About Us</h2>
                </div>
            </div>
            {% if request.user.is_superuser %}
                <hr>
                <div class="mt-2 ml-3">
                    <a class="btn keep-shopping-btn rounded text-uppercase mb-3" href="{% url "edit_about" %}"><i class="fa-solid fa-pen"></i> Edit about us page</a>
                </div>
            {% endif %}
            <hr class="mt-0">
            <div class="row ">
                <div class="col-12">
                    <table class="table caption-top table-sm table-responsive">
                        <thead>
                            <tr>
                                <th class="ps-2 text-uppercase text-start">Contact Us</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-3 py-1">
                                    <form class="pt-2" method="POST">
                                        {% csrf_token %}{{form|crispy}}
                                        <input type="hidden" name="form_type" value="contact_form">
                                        <div class="row">
                                            <div class="col d-flex justify-content-center">
                                                <button type="submit" class="btn keep-shopping-btn rounded text-uppercase mb-2">SEND</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-lg-6">
                    <table class="table caption-top table-sm table-responsive">
                        <thead>
                            <tr>
                                <th class="ps-2 text-uppercase text-start">faq</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-3 py-1"><p>{{ faq|safe }}</p>
                                    <br>
                                    <h4 class="text-center"><i class="fa-solid fa-angles-down text-success"></i> Have a question? <i class="fa-solid fa-angles-down text-success"></i></h4>
                                    <form class="pt-2" method="POST">
                                        {% csrf_token %}
                                        {{faq_form|crispy}}
                                        <input type="hidden" name="form_type" value="faq_form">
                                        <div class="row">
                                            <div class="col d-flex justify-content-center">
                                                <button type="submit" class="btn keep-shopping-btn rounded text-uppercase mb-2">SEND</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table caption-top table-sm table-responsive">
                        <thead>
                            <tr>
                                <th class="ps-3 text-uppercase text-start">Returns Informattion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-3 py-1"><p>{{ returns|safe }}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 dark-green">
                    <table class="table caption-top table-sm table-responsive">
                        <thead>
                            <tr>
                                <th class="ps-2 text-uppercase text-start">Delivery Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-3 py-1"><p>{{ delivery|safe }}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table caption-top table-sm table-responsive">
                        <thead>
                            <tr>
                                <th class="ps-2 text-uppercase text-start">Privacy Policy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-3 py-1"><p>{{ privacy|safe }}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<a role="button" class="btn btt-button d-flex d-none shadow-sm rounded-1">
    <i class="fas fa-arrow-up mx-auto my-auto"></i>
</a>

{% endblock  %}
