{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container dark-green">
    <div class="row">
        <div class="col-12 header-container d-flex justify-content-center text-uppercase">
            <h1 class="logo-font mt-4 m-2">About Us</h1>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Delivery Informattion</p>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
                
            </div>
        </div>
    </div>
</div>

{% endblock  %}
