{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container dark-green">
    <div class="row"> 
        <div class="col-12">
            <div class="row">
                <div class="col-12 header-container d-flex justify-content-center text-uppercase">
                    <h2 class="mt-5 m-2 dark-green">Edit About Us</h2>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    <form method="POST" action="" class="form mb-2">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-center mb-3">
                            <a href="{% url "about" %}" class="auth-btn btn-sm btn btn-dark text-uppercase">Cancel</a>
                            <button class="auth-btn btn-sm btn btn-success text-uppercase" type="submit">Update About Page</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
