{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "delivery-banner.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-grid justify-content-center">
                    <div class="row">
                        <div class="col-12 header-container">
                            <h1 class="dark-green  text-center mb-0 mt-3 text-uppercase">Products</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                                {% for c in current_categories %}
                                    <span class="p-2 dark-green ms-2 mt-2 badge rounded-1 border border-dark">Category: {{ c.friendly_name }}</span>
                                {% endfor %}
                                {% for b in brands %}
                                    <span class="category-badge ms-2 text-decoration-none p-2 mt-2 badge text-black rounded-1 border border-dark"> Brand: {{ b }}</span>
                                {% endfor %}
                                {% if sort %}
                                    <span class="category-badge ms-2 text-decoration-none p-2 mt-2 badge text-black rounded-1 border border-dark"> Sort: {{ sort }}</span>
                                {% endif %}
                                {% if on_sale %}
                                    <span class="category-badge ms-2 text-decoration-none p-2 mt-2 badge text-black rounded-1 border border-dark"> Sale Items</span>
                                {% endif %}
                                <a type="button" class="{% if brands or current_categories or sort or on_sale %}d-flex{% else %}d-none{% endif %} dark-green badge badge-back btn p-2 ms-2 mt-2 rounded-1" href="javascript:history.go(-1)"><i class="fa-solid fa-angles-left"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-between d-md-flex justify-content-md-center">
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-8 d-flex justify-content-center">
                            <p class="text-muted m-3 text-center">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a class="text-muted active-link" href="{% url 'products' %}">All Products</a> | </span>
                                {% endif %}
                                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-4 my-auto">
                            <div class="sort-select-wrapper d-flex justify-content-center">
                                <select id="sort-selector" class="form-select form-select-sm rounded-1">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="popularity_asc" {% if current_sorting == 'popularity_asc' %}selected{% endif %}>Viewed (least to most)</option>
                                    <option value="popularity_desc" {% if current_sorting == 'popularity_desc' %}selected{% endif %}>Viewed (most to least)</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                    <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-center p-0">
                {% for product in products %}
                <div class="card-container my-3">
                    <a class="text-decoration-none" href="{% url "product_detail" product.id %}">
                        <div class="card p-3 me-3 col-6 col-sm-4 col-md-4 col-md-3 col-xl-2">
                            <div class="row">
                                <div class="col-12 position-relative d-flex justify-content-center">
                                    {% if product.image1 %}
                                        {% if product.on_sale %}
                                        <img class="cover-image card-img-top img-fluid " src="{{ product.image1.url }}" alt="{{ product.name }}">
                                        <div class="sale-banner">SALE</div>
                                        {% else %}
                                        <img class="cover-image card-img-top img-fluid" src="{{ product.image1.url }}" alt="{{ product.name }}">
                                        {% endif %}
                                    {% else %}
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 flex-wrap m-0 px-3 text-uppercase">
                                    <h6 class="card-title mt-1">{{ product.name|truncatechars:"50" }}</h6>
                                </div>
                            </div>
                            <div class="card-footer m-0 p-0">
                                <div class="row">
                                    <div class="col-6 mt-2">
                                        <p class="btn-sm btn btn-primary my-1 text-nowrap">Add to Cart</p>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <p class="card-text my-2 fs-4 font-weight-bold">
                                            {% if product.on_sale %}
                                            <strong class="text-decoration-line-through">€{{ product.price }}</strong>
                                            {% else %}
                                            <strong>€{{ product.price }}</strong>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 d-flex justify-content-start">
                                        {% if product.brand %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> BRAND: {{ product.brand }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        {% if product.on_sale %}
                                        <p class="small p-0 m-0 text-danger fs-6">€{{ product.sale_price }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% if product.sku %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> SKU: {{ product.sku }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% if product.category %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> CATEGORY: {{ product.category.friendly_name }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="middle">
                            <a class="btn overlay_btn btn-lg text-nowrap" href="{% url "product_detail" product.id %}">Click for more</a>
                        </div>
                    </a>
                </div>
            {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</div>
<a role="button" class="btn btt-button d-flex d-none shadow-sm rounded-1">
    <i class="fas fa-arrow-up mx-auto my-auto"></i>
</a>

{% endblock content %}

{% block postloadjs %}

{{ block.super }}
    
    <script type="text/javascript">
        
    </script>

{{ block.super }}
<script>
    // Sort selector
    $('#sort-selector').change(function() {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>

{% endblock postloadjs %}
