{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div class="row">
                <div class="col-12 d-grid justify-content-center">
                    <h1 class="dark-green text-center mb-0 mt-3 text-uppercase">Products</h1>
                
                    {% for c in current_categories %}
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">Category: {{ c.friendly_name }}</span>
                    {% endfor %}
                    {% for b in brands %}
                    <span class="category-badge text-decoration-none p-2 mt-2 badge badge-white text-black rounded-0 border border-dark"> Brand: {{ b }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-between d-md-flex justify-content-md-center">
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-8 d-flex justify-content-center">
                            <p class="text-muted m-3 text-center">
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small"><a class="text-muted active-link" href="{% url 'products' %}">All Products</a> | </span>
                                {% endif %}
                                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-4 my-auto">
                            <div class="sort-select-wrapper d-flex justify-content-center">
                                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="popularity_asc" {% if current_sorting == 'popularity_asc' %}selected{% endif %}>Viewed (least to most)</option>
                                    <option value="popularity_desc" {% if current_sorting == 'popularity_desc' %}selected{% endif %}>Viewed (most to least)</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-center p-0">
                    {% for product in products %}
                <div class="card-container my-3">
                    <a class="text-decoration-none" href="{% url "product_detail" product.id %}">
                        <div class="card p-3 me-3 col-6 col-sm-4 col-md-4 col-md-3 col-xl-2">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    {% if product.image1 %}
                                    <img class="cover-image card-img-top img-fluid" src="{{ product.image1.url }}" alt="{{ product.name }}">
                                    {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.wabp" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 flex-wrap m-0 px-3">
                                    <h6 class="card-title">{{ product.name }}</h6>
                                </div>
                            </div>
                            <div class="card-footer m-0 p-0">
                                <div class="row">
                                    <div class="col-6 mt-2">
                                        <p class="btn-sm btn btn-primary my-1 text-nowrap">Add to Cart</p>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <p class="card-text my-2 fs-4 font-weight-bold">
                                            <strong>€{{ product.price }}</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% if product.brand %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> BRAND: {{ product.brand }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% if product.sku %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> SKU: {{ product.sku }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        {% if product.category %}
                                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> CATEGORY: {{ product.category.friendly_name }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="middle">
                            <a class="btn overlay_btn btn-lg text-nowrap" href="{% url "product_detail" product.id %}">Click for more</a>
                        </div>
                    </a>
                </div>
            {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
