{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<!-- Image Popup CSS -->
<link rel="stylesheet" href="{% static "css/style.css" %}">

{% endblock extra_css %}

{% block content %}

<div class="container-fluid single-product-detail">
    <div class="row p-1">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div {% if window.size == 5000px %}id="imageGallery"{% endif %} class="image-container mb-2 rounded my-3">
                <div class="row">
                    {% if product.image1 %}
                        <a href="{{ product.image1.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image1.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}product_images/noimage.webp" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <hr class="m-0 p-0">
                <div class="row">
                    {% if product.image2 or product.image3 or product.image4 %}
                        <div class="col-4 border-end">
                            {% if product.image2 %}
                                <a href="{{ product.image2.url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ product.image2.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}product_images/noimage.webp" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if product.image3 %}
                                <a href="{{ product.image3.url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ product.image3.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}product_images/noimage.webp" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-4 border-start">
                            {% if product.image4 %}
                                <a href="{{ product.image4.url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ product.image4.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}product_images/noimage.webp" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center m-0 p-0">
                {% if request.user.is_superuser %}
                    <small class="mt-2 ml-3">
                        <a class="small px-4 py-2 text-light bg-primary bg-gradient rounded-pill" href="">Edit</a>
                        <a class="small px-3 py-2 text-light bg-danger bg-gradient rounded-pill" href="">Delete</a>
                    </small>
                {% endif %}
                </div>
            </div>
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="form-group m-1">
                            <div class="input-group">
                                <div class="row">
                                    <div class="col-6 mt-3 d-inline-flex">
                                        <div class="input-group-prepend">
                                            <button class="rounded-start-2 me-1 decrement-qty btn btn-dark" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty-input qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-append mb-0">
                                            <button class=" ms-1 increment-qty btn btn-dark rounded-end-2"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <input type="submit" class="btn btn-primary my-3 text-nowrap rounded-2 text-uppercase" value="Add to Cart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-0 d-flex justify-content-center">
                        <a href="{% url 'products' %}" class="btn keep-shopping-btn btn-outline-dark rounded-2 mb-2">
                            <span class="icon">
                                <i class="fa-solid fa-angles-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="product-details-container mb-5 mt-md-2">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-0">{{ product.name }}</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        {% if request.user.is_authenticated %}
                            {% if product in favorites %}
                                <a class="favorites-link" href=""><i class="fa-solid fa-heart fa-beat text-danger"></i> Remove From Favorites</a>
                            {% else %}
                                <a class="favorites-link" href=""><i class="fa-solid fa-heart fa-beat-fade text-danger"></i> Add To Favorites</a>
                            {% endif %}
                        {% else %}
                            <a class="favorites-link" href="{% url 'account_login' %}?next={{ request.path }}"><i class="fa-solid fa-heart fa-beat-fade text-danger"></i> Add To Favorites</a>
                        {% endif %}
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <p class="fs-3 card-title mb-0 text-left "><strong>€{{ product.price }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if product.category %}
                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> BRAND: 
                            <a class="text-muted" href="{% url 'products' %}?brand={{ product.brand.name }}">{{ product.brand }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> SKU: {{ product.sku }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if product.category %}
                        <p class="small card-text"><i class="fa-solid fa-tag fa-rotate-90 text-danger"></i> CATEGORY: 
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <p class="mt-3">{{ product.description|safe }}</p>
                <br>
                <h3>Product Specifications</h3>
                <hr >
                <p class="mt-3">{{ product.specs|safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block postloadjs %}

<!-- Image Popup JS -->
<script src="{% static 'js/jquery.image-popup.js' %}"></script>

{% endblock %}
 